{% extends "base.html" %}
{% block content %}
<div class="container-full">
	<div class="container">
		    <hgroup class="mb20">
	    	<a href="/"><h1>Simple Method of Finding Genes</h1></a>
		</hgroup>
	    <section class="col-xs-12 col-sm-6 col-md-12">
			<article class="search-result row">
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="meta-search">
						<li><b>Visualizations</b>
						<li><a target="_blank" href="{{geneurl}}/bodymap.svg" class="screenshot" rel="{{geneurl}}/bodymap.svg"><span>Body Map</span></a></li>
						<li><a target="_blank" href="{{geneurl}}/brainspan.svg" class="screenshot" rel="{{geneurl}}/brainspan.svg"><span>Brain Span</span></a></li>
						<li><a target="_blank" href="{{geneurl}}/celltypes.svg" class="screenshot" rel="{{geneurl}}/celltypes.svg"><span>Cell Types</span></a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-10 excerpet">
					<h3><strong class="text-danger">{{queries}}</strong></h3>
					<ul>
					<li><a href='https://en.wikipedia.org/wiki/{{queries}}'>Wikipedia</a></li>
					<li><a href='http://www.gtexportal.org/home/gene/{{queries}}'>GTEx Portal</a></li>
					</ul>
				</div>
				<span class="clearfix borda"></span>
			</article>

		</section>
	</div>
</div>
{% endblock %}