{% extends "base.html" %}
{% block content %}
<div class="container-full">
	<div class="container">

	    <hgroup class="mb20">
	    	<a href="/"><h1>Simple Method of Finding Genes</h1></a>
			<h2>Comparing</h2>
			<h3 class="lead"><strong class="text-danger">3</strong> genes in the search for <strong class="text-danger">{{queries}}</strong></h3>
		</hgroup>
	    <section class="col-xs-12 col-sm-6 col-md-12">
			<article class="search-result row">
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="meta-search">
						<li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>
						<li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
						<li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-10 excerpet">
					<h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
				</div>
				<span class="clearfix borda"></span>
			</article>

		</section>
	</div>
</div>
{% endblock %}