{% extends "base.html" %}
{% block content %}
<title>SMFG | Search</title>
</head>
<body>
  <div class="container-full">

    <div class="row">

      <div class="col-lg-12 text-center v-center">

        <h1>Simple Method of Finding Genes</h1>
        <p class="lead">A collection of genetic data in the human body.</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" style="width:auto;max-width:450px;text-align:center;margin:0 auto;" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{ message }}
        </div>
        <br>
        {% endfor %}

        {% endif %}
        {% endwith %}
        <form id="geneSearch" class="col-lg-12">
          <div class="input-group" style="width:auto;max-width:450px;text-align:center;margin:0 auto;">
            <input name="q" class="form-control input-lg" title="Seperate genes with spaces" placeholder="Gene Identifier" type="text">
            <span class="input-group-btn"><button class="btn btn-lg btn-warning" type="submit">Search</button></span>
          </div>
          <div class="input-group" style="width:auto;max-width:450px;text-align:center;margin:0 auto;">
            <label class="radio-inline"><input type="radio" name="method" value="search">Search</label>
            <label class="radio-inline"><input type="radio" name="method" value="compare">Compare</label>
          </div>

        </form>
      </div>

    </div> <!-- /row -->
    <div class="col-lg-12">
        <table style="display: none;" class="data table table-bordered">
                <thead class="sorted_head">
                  <tr>
                    <th>Gene Name</th><th>Brainspan</th>
                    <th>Cell Type</th><th>Body Map</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
    </div>  

    <div class="row">
      <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
        <h3>Project Sponsors: </h3>
        <a href="http://www.gersteinlab.org/"><img style="width: 175px; height: 50px;" src="{{ url_for('static', filename='img/gersteinlab.gif') }}" /></a>
        <a href="http://www.yale.edu/"><img style="width: 175px; height: 50px;" src="{{ url_for('static', filename='img/yale.png') }}" /></a>
      </div>
      
    </div>
  </div> <!-- /container full -->
<script>
$("#geneSearch").submit(function() {

    var url = "/search1"; // the script where you handle the form input.

    $.ajax({
           type: "GET",
           url: url,
           data: $("#geneSearch").serialize(), // serializes the form's elements.
           success: function(data)
           {
              $(".data").show();
              var trHTML = '';
              json = JSON.parse(data)
              $.each(json['genes'], function (i, item) {
                gene = item['gene'];
              trHTML += '<tr><td>' + 
              gene['gene_name'] + 
              '</td><td>' + '<img class="dataimage" src="' +
              gene['brainspan'] + '">' +
              '</td><td>' + '<img class="dataimage" src="' +
              gene['celltypes'] + '">' +
              '</td><td>' + '<img class="dataimage" src="' +
              gene['bodymap'] + '">'
              '</td></tr>';
              });

              $('.data').append(trHTML);
           }
         });

    return false; // avoid to execute the actual submit of the form.
});
// Sortable rows
$('.sorted_table').sortable({
  containerSelector: 'table',
  itemPath: '> tbody',
  itemSelector: 'tr',
  placeholder: '<tr class="placeholder"/>'
});

// Sortable column heads
var oldIndex;
$('.sorted_head tr').sortable({
  containerSelector: 'tr',
  itemSelector: 'th',
  placeholder: '<th class="placeholder"/>',
  vertical: false,
  onDragStart: function ($item, container, _super) {
    oldIndex = $item.index();
    $item.appendTo($item.parent());
    _super($item, container);
  },
  onDrop: function  ($item, container, _super) {
    var field,
        newIndex = $item.index();

    if(newIndex != oldIndex) {
      $item.closest('table').find('tbody tr').each(function (i, row) {
        row = $(row);
        if(newIndex < oldIndex) {
          row.children().eq(newIndex).before(row.children()[oldIndex]);
        } else if (newIndex > oldIndex) {
          row.children().eq(newIndex).after(row.children()[oldIndex]);
        }
      });
    }

    _super($item, container);
  }
});
</script>

{% endblock %}
