{% extends "base.html" %}
{% block content %}
    <title>SMFG | Search</title>
	</head>
	<body>
<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>Simple Method of Finding Genes</h1>
          <p class="lead">A collection of genetic data in the human body.</p>
          
          <br><br><br>
          
          <form action="/search" class="col-lg-12">
            <div class="input-group" style="width:auto;max-width:450px;text-align:center;margin:0 auto;">
            <input name="q" class="form-control input-lg" title="Seperate genes with spaces" placeholder="Gene Identifier" type="text">
              <span class="input-group-btn"><button class="btn btn-lg btn-warning" type="submit">Search</button></span>
            </div>
            <div class="input-group" style="width:auto;max-width:450px;text-align:center;margin:0 auto;">
            <label class="radio-inline"><input type="radio" name="method" value="search">Search</label>
              <label class="radio-inline"><input type="radio" name="method" value="compare">Compare</label>
            </div>
            
          </form>
        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <h3>Project Sponsors: </h3>
          <a href="http://www.gersteinlab.org/"><img style="width: 175px; height: 50px;" src="{{ url_for('static', filename='img/gersteinlab.gif') }}" /></a>
          <a href="http://www.yale.edu/"><img style="width: 175px; height: 50px;" src="{{ url_for('static', filename='img/yale.png') }}" /></a>
        </div>
      
      </div>
</div> <!-- /container full -->

<!--
<div class="container">
  
  	<hr>
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>
  
	<div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
        <br><br>
        </div>
    </div>
</div>
-->

{% endblock %}
