{% extends "base.html" %}
{% block content %}
<title>SMFG | Search</title>
</head>
<body>
  <div class="container-full">

    <div class="row">

      <div class="col-lg-12 text-center v-center">

        <h1>Simple Method of Finding Genes</h1>
        <p class="lead">A collection of genetic data in the human body.</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" style="width:auto;max-width:450px;text-align:center;margin:0 auto;" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{ message }}
        </div>
        <br>
        {% endfor %}

        {% endif %}
        {% endwith %}
        <form id="geneSearch" class="col-lg-12">
          <div class="input-group search" style="width:auto;max-width:742px;text-align:center;margin:0 auto;">
            <input name="q" class="form-control input-md search" title="Seperate genes with commas" placeholder="Gene Identifier" type="text">
            <span class="input-group-btn"><button class="search btn btn-md btn-default" type="submit">Search</button></span>
          </div>
        </form>
        <div class="input-group search" style="width:auto;text-align:center;margin:0 auto;">
          <span class="input-group-btn">
            <button class="showbtn showbrainspan search btn btn-sm btn-success">Toggle Brainspan</button>
            <button class="showbtn showcelltypes search btn btn-sm btn-info">Toggle Cell Types</button>
            <button class="showbtn showbodymap search btn btn-sm btn-danger">Toggle Body Map</button>
            <button class="showbtn collapseselected search btn btn-sm btn-warning">Collapse Selected</button>
            <button class="showbtn resetbtn search btn btn-sm btn-primary">Collapse All</button>
          </span>
        </div>
      </div>
      <br>
    </div> <!-- /row -->
    <div class="row">
      <ul style="padding:0; margin:55px;" class="sortable selectable">
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
        <h3>Project Sponsors: </h3>
        <a href="http://www.gersteinlab.org/"><img style="width: 175px; height: 50px;" src="{{ url_for('static', filename='img/gersteinlab.gif') }}" /></a>
        <a href="http://www.yale.edu/"><img style="width: 175px; height: 50px;" src="{{ url_for('static', filename='img/yale.png') }}" /></a>
      </div>
    </div>
  </div> <!-- /container full -->
  <script>
    $(function() {
      $( ".sortable" ).sortable({ handle: '.draghandle' });
      $( ".selectable" ).selectable();
      $("#geneSearch").submit(function() {
        $.ajax({
          type: "GET",
          url: '/search',
        data: $("#geneSearch").serialize(), // serializes the form's elements.
        success: function(data)
        {
          $(".data").show();
          $(".data > tbody").html("");
          console.log(JSON.parse(data));
          $.each(JSON.parse(data) , function(i, val) { 
            $(".sortable").append(val);
          });
        }
      });
      return false; // avoid to execute the actual submit of the form.
    });
      $( ".showbrainspan" ).click(function() {
        //        $( "ul > li.ui-selected" ).find( "div.brainspandiv" ).toggle();
        //For ones that are selected
        $( "ul > li" ).find( "div.brainspandiv" ).toggle();
      });
      $( ".showbodymap" ).click(function() {
        $( "ul > li" ).find( "div.bodymapdiv" ).toggle();
      });
      $( ".showcelltypes" ).click(function() {
        $( "ul > li" ).find( "div.celltypesdiv" ).toggle();
      });
      $( ".resetbtn" ).click(function() {
        $( "ul" ).find( "div.plotdiv" ).hide();
      });
      $( ".collapseselected" ).click(function() {
        $( "ul > li.ui-selected" ).find( "div.brainspandiv" ).toggle();
        $( "ul > li.ui-selected" ).find( "div.bodymapdiv" ).toggle();
        $( "ul > li.ui-selected" ).find( "div.celltypesdiv" ).toggle();
      });
    });
  </script>

  {% endblock %}
