{% for gene in data.genes %}
<li style="padding:5px;">
    <span class="draghandle">
      &#9776;
    </span>
        <b>
        {{gene['gene']['gene_name']|safe}}
        </b>
        <div style="float : right;">
        Download:
         <a href="{{gene['gene']['brainspan']|safe}}">Brainspan</a>&nbsp;<a href="{{gene['gene']['celltypes']|safe}}">Celltypes</a>&nbsp;<a href="{{gene['gene']['bodymap']|safe}}">Bodymap</a>
         </div>
        <br>
    <div class="brainspandiv plotdiv">
        <img class="plotimg" src="{{gene['gene']['brainspan']|safe}}" />
    </div>
    <div class="celltypesdiv plotdiv">
        <img class="plotimg" src="{{gene['gene']['celltypes']|safe}}" />
    </div>
    <div class="bodymapdiv plotdiv">
        <img class="plotimg" src="{{gene['gene']['bodymap']|safe}}" />
    </div>
</li>
{% endfor %}